<a href="https://colab.research.google.com/github/JacekPardyak/vps/blob/master/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [14]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [19]:
!wget -q https://downloads.apache.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [26]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [27]:
!pip install -q findspark
import findspark
findspark.init()

In [28]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [29]:
!wget --continue https://raw.githubusercontent.com/GarvitArya/pyspark-demo/main/sample_books.json -O /tmp/sample_books.json

--2021-09-04 19:24:43--  https://raw.githubusercontent.com/GarvitArya/pyspark-demo/main/sample_books.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1565 (1.5K) [text/plain]
Saving to: ‘/tmp/sample_books.json’

/tmp/sample_books.j 100%[===================>]   1.53K  --.-KB/s    in 0s

2021-09-04 19:24:43 (18.7 MB/s) - ‘/tmp/sample_books.json’ saved [1565/1565]

In [63]:
!wget --continue https://raw.githubusercontent.com/JacekPardyak/vps/master/data/vps_churn_data_py.json -O /tmp/vps_churn_data_py.json

--2021-09-04 20:36:12--  https://raw.githubusercontent.com/JacekPardyak/vps/master/data/vps_churn_data_py.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247125 (241K) [text/plain]
Saving to: ‘/tmp/vps_churn_data_py.json’

/tmp/vps_churn_data 100%[===================>] 241.33K  --.-KB/s    in 0.06s

2021-09-04 20:36:12 (3.99 MB/s) - ‘/tmp/vps_churn_data_py.json’ saved [247125/247125]

In [64]:
#df = spark.read.json("/tmp/sample_books.json")
df = spark.read.json("/tmp/vps_churn_data_py.json")

In [65]:
df.printSchema()

root
 |-- cpu_load_max_gradient: double (nullable = true)
 |-- cpu_load_mean_m_3: double (nullable = true)
 |-- cpu_load_monthly_mean_delta: double (nullable = true)
 |-- disk_octets_read_max_gradient: double (nullable = true)
 |-- disk_octets_read_mean_m_3: double (nullable = true)
 |-- disk_octets_read_monthly_mean_delta: double (nullable = true)
 |-- disk_octets_write_max_gradient: double (nullable = true)
 |-- disk_octets_write_mean_m_3: double (nullable = true)
 |-- disk_octets_write_monthly_mean_delta: double (nullable = true)
 |-- disk_ops_read_max_gradient: double (nullable = true)
 |-- disk_ops_read_mean_m_3: double (nullable = true)
 |-- disk_ops_read_monthly_mean_delta: double (nullable = true)
 |-- disk_ops_write_max_gradient: double (nullable = true)
 |-- disk_ops_write_mean_m_3: double (nullable = true)
 |-- disk_ops_write_monthly_mean_delta: double (nullable = true)
 |-- id: long (nullable = true)
 |-- is_churn: long (nullable = true)
 |-- network_rx_max_gradient: double (nullable = true)
 |-- network_rx_mean_m_3: double (nullable = true)
 |-- network_rx_monthly_mean_delta: double (nullable = true)
 |-- network_tx_max_gradient: double (nullable = true)
 |-- network_tx_mean_m_3: double (nullable = true)
 |-- network_tx_monthly_mean_delta: double (nullable = true)

In [66]:
df.show(4,False)

+---------------------+-----------------+---------------------------+-----------------------------+-------------------------+-----------------------------------+------------------------------+--------------------------+------------------------------------+--------------------------+----------------------+--------------------------------+---------------------------+-----------------------+---------------------------------+---+--------+-----------------------+-------------------+-----------------------------+-----------------------+-------------------+-----------------------------+
|cpu_load_max_gradient|cpu_load_mean_m_3|cpu_load_monthly_mean_delta|disk_octets_read_max_gradient|disk_octets_read_mean_m_3|disk_octets_read_monthly_mean_delta|disk_octets_write_max_gradient|disk_octets_write_mean_m_3|disk_octets_write_monthly_mean_delta|disk_ops_read_max_gradient|disk_ops_read_mean_m_3|disk_ops_read_monthly_mean_delta|disk_ops_write_max_gradient|disk_ops_write_mean_m_3|disk_ops_write_monthly_mean_delta|id |is_churn|network_rx_max_gradient|network_rx_mean_m_3|network_rx_monthly_mean_delta|network_tx_max_gradient|network_tx_mean_m_3|network_tx_monthly_mean_delta|
+---------------------+-----------------+---------------------------+-----------------------------+-------------------------+-----------------------------------+------------------------------+--------------------------+------------------------------------+--------------------------+----------------------+--------------------------------+---------------------------+-----------------------+---------------------------------+---+--------+-----------------------+-------------------+-----------------------------+-----------------------+-------------------+-----------------------------+
|0.44565168           |13.37989247      |9.93544803                 |1.74435668                   |38.82583205              |38.59628038                        |0.00463981                    |0.11851402                |0.09822835                          |14.46249656               |336.6972043           |331.6849821                     |0.22755614                 |6.77032258             |5.18743369                       |100|1       |-3.44E-5               |0.01612843         |-8.3925E-4                   |5.59E-5                |0.01171808         |0.001784                     |
|-0.00172695          |16.90204301      |-3.97190143                |-5.9626E-4                   |0.00328473               |-0.01781286                        |-6.43E-5                      |0.33609133                |-7.0227E-4                          |-0.00633933               |0.08150538            |-0.18960574                     |-0.00207351                |2.7939785              |0.16231183                       |101|0       |9.5E-5                 |0.04812798         |0.00761928                   |-0.00434225            |0.44380426         |-0.1490684                   |
|0.3733529            |248.935914       |9.67491398                 |-0.01865949                  |19.37152776              |-0.53592374                        |-0.07624555                   |31.9710273                |-2.3433956                          |-0.16357924               |213.1603226           |-22.40323297                    |-0.44157712                |194.5582796            |-26.08083154                     |102|0       |-0.02173184            |1.72831136         |-0.3315117                   |-0.00538242            |1.35480347         |-0.1905986                   |
|-0.03158981          |14.05419355      |-0.86152867                |-0.00180007                  |0.10182502               |-0.0723567                         |0.00328335                    |0.99700527                |0.05448654                          |-0.20777508               |2.18870968            |-7.24773477                     |0.01796263                 |9.63483871             |-0.05549462                      |103|1       |7.1597E-4              |0.08254686         |-4.014E-4                    |-3.1719E-4             |0.00850134         |-0.0071339                   |
+---------------------+-----------------+---------------------------+-----------------------------+-------------------------+-----------------------------------+------------------------------+--------------------------+------------------------------------+--------------------------+----------------------+--------------------------------+---------------------------+-----------------------+---------------------------------+---+--------+-----------------------+-------------------+-----------------------------+-----------------------+-------------------+-----------------------------+
only showing top 4 rows

In [67]:
df.count()

283

In [68]:
df.select('id', 'cpu_load_max_gradient', 'is_churn').show(5)

+---+---------------------+--------+
| id|cpu_load_max_gradient|is_churn|
+---+---------------------+--------+
|100|           0.44565168|       1|
|101|          -0.00172695|       0|
|102|            0.3733529|       0|
|103|          -0.03158981|       1|
|104|          -0.09440948|       0|
+---+---------------------+--------+
only showing top 5 rows

In [51]:
df_filtered = df.filter("year_written > 1950 AND price > 10 AND title IS NOT NULL")
df_filtered.select("title", "price", "year_written").show(50, False)

+-----------------------------+-----+------------+
|title                        |price|year_written|
+-----------------------------+-----+------------+
|The Hours                    |12.35|1999        |
|Harry Potter                 |19.95|2000        |
|One Hundred Years of Solitude|14.0 |1967        |
+-----------------------------+-----+------------+

In [52]:
df_filtered.select("title", "year_written").filter("title LIKE '%Harry Potter%'").distinct().show(20, False)

+------------+------------+
|title       |year_written|
+------------+------------+
|Harry Potter|2000        |
+------------+------------+

In [53]:
from pyspark.sql.functions import max
# Find the costliest book
maxValue = df_filtered.agg(max("price")).collect()[0][0]
print("maxValue: ",maxValue)
df_filtered.select("title","price").filter(df.price == maxValue).show(20, False)

maxValue:  19.95
+------------+-----+
|title       |price|
+------------+-----+
|Harry Potter|19.95|
+------------+-----+